<footer>

</footer>

<script type="text/javascript" src="/public/dist/js/asset.js"></script>
<script type="text/javascript" src="/public/dist/js/lib/anime.min.js"></script>
<script type="text/javascript" src="/public/dist/js/lib/jquery-3.5.0.min.js"></script>

	
<!-- Bootstrap JS -->
<script src="/public/dist/bootstrap/js/bootstrap.min.js"></script>

<!-- Custom JS -->
<script src="/public/dist/includes/js/script.js"></script>
</body>
</html>