<%- include  ('./partials/header')%>
<section class="fix">
   <video src="/public/dist/videos/Web_Design_Agency_video_background(360p).mp4" class="vid" autoplay loop muted></video>
   <img src="/public/dist/images/flogo.png" class="logo" alt="Our LOGO">

<div class="new">
<div class="box">
    <div class="line" id="sline"></div>
    <div class="title">You Are &nbsp; WELCOME</div>
    <div class="line" id="sline"></div>
    <a href="/home" class="btn homebtn1">STUDENTs HOUSE</a>
    <a href="/campgrounds" class="btn homebtn">FAMILY HOUSE</a>
</div>
</div>
</section>
<script type="text/javascript" src="/public/dist/js/asset.js"></script>
<script type="text/javascript" src="/public/dist/js/lib/anime.min.js"></script>
<!-- Bootstrap JS -->
<script src="/public/dist/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>