<%- include ('./partials/header')%>
<div class="container">
    <div class="row">
        <a href="/addproduct" class="btn btn-primary mt-5 btn-lg" style="margin: auto;"> Admin</a>
        <a href="/store", class="btn btn-success mt-5 btn-lg" style="margin: auto;">Store</a>
<script src="/public/dist/bootstrap/js/bootstrap.min.js"></script>
</div>
</div>
<%- include ('./partials/footer')%>
   
    
      
        
    
        
