<%- include ('./partials/header')%>
<h1> this is friends zone</h1>
<form action="/campgrounds" method="POST">
 <input type="text" name="name" placeholder="Name" >
 <input type="file" name="image" placeholder="Images">
 <button class="btn btn-primary">Submit!</button>
</form>
<%- include ('./partials/footer')%>